/* colorscheme by SchemeColor - Lacewing Butterfly
https://www.schemecolor.com/lacewing-butterfly.php
 */
:root {
    --header-text: #CE7E0F;
    --header-back: #E3C78E;
    --highlight-back: #F8E4D9;
    --text: #010404;
    --border: #ccdede;
    --alert: #BE0618;
}
html, body {
    margin: 0;
    height: 100%; /* can also use viewport units (height: 100vh) */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}

#container {
    display: flex; /* displays flex-items (children) inline */
    flex-direction: column; /* stacks them vertically */
    height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

header {
    background: var(--header-back);
    color: var(--header-text);
    padding-top: 17px;
    height: 40px;
    font-size: 24px;
}

footer {
    background: var(--highlight-back);
    padding: 5px;

}

main {
    flex: 1; /* takes the remaining height of the "container" div */

    display: flex;
    overflow: auto; /* to scroll just the "main" div */
}

aside {
    width: 70%;
}
aside table {
    width: 100%;
    border-collapse: collapse;
}
aside td {
    border-bottom: 1px solid var(--border);
    padding: 2px 5px 2px 0;
}
aside td:first-child, aside th:first-child {
    padding-left: 10px;
}

aside td:last-child, aside th:last-child {
    padding-right: 10px;
}
aside td.expander {
    width: 20px;
    padding-right: 3px;
}

.wbs-expander-indent-1 { margin-left: 0; margin-right: 2px }
.wbs-expander-indent-2 { margin-left: 20px; margin-right: 2px }
.wbs-expander-indent-3 { margin-left: 40px; margin-right: 2px }
.wbs-expander-indent-4 { margin-left: 60px; margin-right: 2px }
.wbs-indent-1 { margin-left: 40px; margin-right: 2px }
.wbs-indent-2 { margin-left: 50px; margin-right: 2px }
.wbs-indent-3 { margin-left: 60px; margin-right: 2px }
.wbs-indent-4 { margin-left: 70px; margin-right: 2px }

.right-align {
    text-align: right;
}
.centered {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.box {
    border: 1px solid var(--border);
    margin: 10px;
    height: calc(100% - 20px);
    overflow: auto
}

.wbs-row {
    padding: 2px 0 3px 0;
}

.selected-row {
    background-color: var(--border);
}

article {
    width: 50%;
}


section {
    height: 80%; /* takes the visible area of the "main" div */
    border-bottom: 1px solid;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(100% - 40px);
    margin: 5px 20px;

}

.card-head {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    background-color: var(--highlight-back);
}

.card .container {
    overflow: hidden;
    transition: all 2s;
    margin: 0 10px;
}

.card .expand-enter-active,
.card .expand-leave-active {
    transition: height .3s ease-in-out;
    overflow: hidden;
}

.card .expand-enter,
.card .expand-leave-to {
    height: 0;
}
