/* colorscheme by SchemeColor - Lacewing Butterfly
https://www.schemecolor.com/lacewing-butterfly.php
 */
:root {
    --header-text: #CE7E0F;
    --header-back: #E3C78E;
    --highlight-back: #F8E4D9;
    --text: #010404;
    --alert: #BE0618;
}
html, body {
    margin: 0;
    height: 100%; /* can also use viewport units (height: 100vh) */
    font-family: Verdana, Geneva, sans-serif;
}

#container {
    display: flex; /* displays flex-items (children) inline */
    flex-direction: column; /* stacks them vertically */
    height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

header {
    background: var(--header-back);
    color: var(--header-text);
    padding-top: 17px;
    height: 40px;
}

footer {
    background: var(--highlight-back);
    padding: 5px;

}

main {
    flex: 1; /* takes the remaining height of the "container" div */

    display: flex;
    overflow: auto; /* to scroll just the "main" div */
}

aside {
    width: 50%;
    overflow: auto;
}

article {
    width: 50%;
    overflow: auto;
}

section {
    height: 80%; /* takes the visible area of the "main" div */
    border-bottom: 1px solid;
}
